.projectsindex{
  float: left;
  position: absolute;
  // overflow: scroll;
  // left: 500px;
  top: 724px;
  // width: 100vw;
  // height: auto;
  left:-8px;
  z-index: 100;
  background: #f1f1f2;
}
.projectsindex ul{
  position: relative;
  right: 21px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  border: 1px solid #dfdce3;
  float: left;
  margin: 14px;
  height: 350px;
  text-decoration: none;
  list-style: none;
  background: white;
}
.project li{
  text-decoration: none;
  width: 300px;
  text-align: center;
  background: white;
}
.project a{
  text-decoration: none;
}
.projectImg{
  position: relative;
  top: 14px;
  height: 200px;
  width: 272px;
}
