body{
  background-color: #d4e1e7;
}
*{
  // font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  // font-size: 18px;
}

.projectshow{
  list-style: none;
  text-decoration: none;
  width: 898px;
  height: auto;
  border: 1px solid #dfdce3;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 26px;
  background: white;
}
.header{
  display: flex;
  margin-right: 30px;
  list-style: none;
  background: #f1f1f2;
  border: 1px solid #dfdce3;
  width: 857px;
  height: 50px;
}
.header2{
  display: flex;
  margin-right: 30px;
  margin-top: 15px;
  list-style: none;
  background: #f1f1f2;
  border-top: 1px solid #dfdce3;
  border-bottom: 1px solid #dfdce3;
  width: 779px;
  height: 50px;
}
.pictextvid{
  background: #f1f1f2;
  position: relative;
  top: 13px;
  border: 1px solid #dfdce3;
  border-radius: 10px;
  margin: 0 auto;
  width: 779px;
}
.pictextvid div{
  text-align: center;
}
.moveright{
  position: relative;
  right: 21px;
}
.pictextvid .picture{
  width: 500px;
  margin: 20px auto;
  border: 1px solid #dfdce3;
  border-radius: 10px;
  padding: 20px;
  background: white;
}
.pictextvid img{
  border: 1px solid #dfdce3;
  border-radius: 10px;
}
.pictextvid .video{
  width: 500px;
  border-radius: 10px;
  border: 1px solid #dfdce3;
  margin: 20px auto;
  padding: 20px;
  background: white;
}
.pictextvid .videocontainer{
  border: none;
  border-radius: 10px;
  border: 1px solid #dfdce3;
}
.pictextvid h2{
  word-wrap: break-word;
  font-size: 19px;
  color: #292929;
  font-weight: 400;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}
.title-edit{
  font-family: 'Kefa', serif;
  font-size: 2em;
  color: #292929;
  position: relative;
  top: 9px;
  right: 116px;
  width: 608px;
}
.author-edit{
  font-family: 'Kefa', serif;
  font-size: 1.1em;
  position: relative;
  top: 23px;
  right: 108px;
  color: #6c6c6c;
}
.title{
  font-family: 'Kefa', serif;
  font-size: 2em;
  color: #292929;
  position: relative;
  top: 9px;
  // right: 116px;
}
.author{
  font-family: 'Kefa', serif;
  font-size: 1.1em;
  position: relative;
  top: 23px;
  left: 20px;
  color: #6c6c6c;
}
.author a {
  text-decoration: none;
  color: #4bbdac;
}
.author-edit a {
  text-decoration: none;
  color: #4bbdac;
}
.projectshow img{
  max-width: 500px;
  max-height: 400px;
}
.loadingtext{
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
  bottom: 35px;
  left: 5px;
  color: #4ABDAC;
  font-size: 1.8em;
  height:55px;
}
.steps div button{
  position: relative;
  color: white;
  width: 293px;
  height: 50px;
  background: #F78733;
  border-radius: 7px;
  margin-top: 15px;
  border: 1px solid #DFDCE3;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2em;
}
.steps div button:hover{
  background: #4ABDAC;
}
.steps-edit div button{
  position: relative;
  color: white;
  width: 110px;
  height: 42px;
  background: #F78733;
  border-radius: 7px;
  margin-top: 4px;
  left: 738px;
  border: 1px solid #DFDCE3;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2em;
}
.steps-edit div button:hover{
  background: #4ABDAC;
}
.steps div .steps-edit-step  {
  position: relative;
  color: white;
  width: 87px;
  height: 36px;
  background: #F78733;
  border-radius: 7px;
  margin-top: 20px;
  left: 41px;
  border: 1px solid #DFDCE3;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.1em;
}
.steps-edit div button:hover{
  background: #4ABDAC;
}
