.projectsindex{
  position: absolute;
  top: 724px;
  left:-8px;
  z-index: 100;
  background: #f1f1f2;
}
.projectsindex ul{
  position: relative;
  right: 21px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  border: 1px solid #dfdce3;
  float: left;
  margin: 14px;
  height: 350px;
  text-decoration: none;
  list-style: none;
  background: white;
}
.project a{
  text-decoration: none;
}
.projectImg{
  position: relative;
  right: 20px;
  height: 200px;
  width: 298px;
  border: 1px solid #dfdce3;
}
.projecttitle{
  color: #292929;
  font-family: "kefa", serif;
  font-size: 1.4em;
  height: 69px;
}
.projectby{
  color: #7f7f80;
  font-family: "kefa", serif;
  font-size: 1.1em;
  float: left;
  margin-right: 9px;
}
.projectauthor{
  color: #292929;
  font-family: "kefa", serif;
  font-size: 1.2em;
  float: left;
}
.projectauthor a{
  color: #292929;
}
.projectauthor a:hover{
  text-decoration: underline;
}
.project li{
  text-decoration: none;
  width: 260px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  background: white;
}
.holdbyauthor{
  display: float;
  vertical-align: bottom;
}
.separatevert{
  // display: flex;

}
