.projectsindex{
  float: left;
  position: absolute;
  overflow: scroll;
  // left: 500px;
  top: 800px;
  width: 100%;
  left:0px;
  z-index: 100;
  background: white;
}
.project{
  float: left;
  margin: 14px;
  height: 350px;
  text-decoration: none;
  list-style: none;
  background: #ebebeb;
}
.project li{
  text-decoration: none;
  width: 300px;
  text-align: center;
  background: #ebebeb;
}
.project a{
  text-decoration: none;
}
.projectImg{
  position: relative;
  top: 14px;
  height: 200px;
  width: 272px;
}
