body{
  background-color: #d4e1e7;
}

.projectshow{
  list-style: none;
  text-decoration: none;
  width: 898px;
  height: auto;
  border: 1px solid #dfdce3;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 26px;
  background: white;
}
.header{
  display: flex;
  margin-right: 30px;
  list-style: none;
  background: #f1f1f2;
  border: 1px solid #dfdce3;
  width: 857px;
  height: 50px;
}
.pictextvid{
  background: #f1f1f2;
  position: relative;
  top: 13px;
  border: 1px solid #dfdce3;
  border-radius: 10px;
  margin: 0 auto;
  width: 779px;
}
.pictextvid div{
  text-align: center;
}
.moveright{
  position: relative;
  right: 21px;
}
.pictextvid .picture{
  width: 500px;
  margin: 20px auto;
  border: 1px solid #dfdce3;
  border-radius: 10px;
  padding: 20px;
  background: white;
}
.pictextvid img{
  border: 1px solid #dfdce3;
  border-radius: 10px;
}
.pictextvid .video{
  width: 500px;
  border-radius: 10px;
  border: 1px solid #dfdce3;
  margin: 20px auto;
  padding: 20px;
  background: white;
}
.pictextvid .videocontainer{
  border: none;
  border-radius: 10px;
  border: 1px solid #dfdce3;
}
.pictextvid h2{
  font-size: 1.2em;
  color: #292929;
}
.title{
  font-family: 'Kefa', serif;
  font-size: 2em;
  color: #292929;
  position: relative;
  top: 4px;
}
.author{
  font-family: 'Kefa', serif;
  font-size: 1.1em;
  position: relative;
  top: 19px;
  left: 20px;
  color: #6c6c6c;
}
.author a {
  text-decoration: none;
  color: #4bbdac;
}
.projectshow img{
  max-width: 500px;
  max-height: 400px;
}
.loadingtext{
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
  bottom: 35px;
  left: 5px;
  color: #4ABDAC;
  font-size: 1.8em;
  height:55px;
}
.steps div button{
  position: relative;
  color: white;
  width: 293px;
  height: 50px;
  background: #F78733;
  border-radius: 7px;
  margin-bottom: 10px;
  border: 1px solid #DFDCE3;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2em;
}
