.search{
  position: absolute;
  background: white;
  width: 0px;
  z-index: 3;
  left: 360px;
  bottom: 23px;
}
.search input{
  width: 242px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #d4e1e7;
  padding-right: 8px;
  padding-left: 10px;
  font-size: 1.1em;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}
.search button{
  position: relative;
  top: 29px;
  left: 220px;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1em;
}
.search button:hover{
  cursor: pointer;
}
.emptysearch{
  position: relative;
  color: #f5b433;
  width: 100vw;
  left: -19px;
  background: #d4e1e7;
  font-size: 4em;
  font-family: 'Gloria Hallelujah', cursive;
  display: flex;
  padding: 40px 0px 0px 100px;
  text-shadow:
   -1px -1px 2px #d4e1e7,
    1px -1px 2px #DFDCE3,
    -1px 1px 2px #4bbdac,
     1px 1px 2px #DFDCE3;
}
