.search{
  position: absolute;
  background: white;
  width: 0px;
  z-index: 3;
  left: 300px;
  bottom: 40px;
}
.search input{
  width: 242px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #d4e1e7;
  padding-right: 8px;
  font-size: 1.1em;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}
.search button{
  position: relative;
  top: 29px;
  left: 220px;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1em;
}
