.stepNum{
list-style: none;
 color: #292929;
 font-family: 'Kefa', serif;
 font-size: 1.5em;
 margin-top: 38px;
 margin-bottom: 12px;

}
.steps .pictextvid li {
  color: #292929;
  list-style: none;
  margin: 20px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 18px;
}


.steps{
  right: 0px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}
